
<form action="/landmarks" method="post">
   <h1>Create New Landmark: </h1>
    <label for="landmark_name">Name: </label>
    <input type="text" name="landmark[name]" id="landmark_name" value="landmark_name">
    <label for="landmark_year_completed">Year: </label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="landmark_year_completed">
    <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
